---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header class="mt-0 mb-8 ml-0 mr-0">
	<h2 class="mt-2 mb-2 ml-0 mr-0">
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://mastodon.online/@shaneafsar" target="_blank">Mastodon</HeaderLink>
		<HeaderLink href="https://www.linkedin.com/in/ShaneAfsar" target="_blank">LinkedIn</HeaderLink>
		<HeaderLink href="https://twitter.com/@ShaneAfsar" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/shaneafsar" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
